[user]
	name = argonism
  email = 44169535+argonism@users.noreply.github.com
[commit]
  #gpgsign = true
[core]
  excludesFile = $HOME/.gitignore
  editor = nvim
  filemode = true
  #commentChar = ">"
[color]
  ui = true
#[log]
#  showSignature = true
[push]
	default = simple
[pull]
  rebase = false
[branch]
	autoSetupRebase = always
[blame]
  # ignoreRevsFile = .git-blame-ignore-revs
[submodule]
  #recurse = true
[init]
  defaultBranch = main
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[url "git@gist.github.com:"]
  pushInsteadOf = https://gist.github.com/
  pushInsteadOf = git://gist.github.com/
[include]
  path = .gitconfig.local
[merge]
  renameLimit = 0
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[alias]
	pl = pull
	ps = push
	c = checkout
	df = diff
	dfs = diff --staged
  rsr = restore
  rsrs = restore --staged
  sw = switch
[phantom]
	ai = claude
	worktreesDirectory = ../misedoko-worktrees
